* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Commissioner"
}

body {
    transition: 1s;
}

.noch {
    transition: 1s;
    background-color: #24292d;
    color: white;
}

.white {
    transition: 1s;
    color: white;
}

@mixin ggg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.not_active {
    display: none;
    overflow: hidden;
    transition: 1s;
}

.bb {
    position: relative;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
    width: 100%;
    background-color: transparent;
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 8px;
    background-color: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: #018FA3;
    width: 0%;
}
.krest{
    background-image: url(../img/103181_close_remove_delete_cross_icon.png);
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 100000000000000000000000000000000000000000000000000;
    filter: invert(100%);
    top: -100%;
    right: 5%;
    transition: 0.2s;
    @include ggg()
}
.topic{
    transition: 1s;
    top: 5%;
}
.luna {
    height: 80px;
    width: 150px;
    position: fixed;
    background-color: #FAE01A;
    transition: 2s;
    border-radius: 50px;
    bottom: 100%;
    right: 5%;
    z-index: 999999999999999991;

    .sun_and_moon {
        width: 45px;
        height: 45px;
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translateY(-50%);
        filter: invert(100%);
        transition: 3s;
        background-image: url(../img/171470_sun_heat_summer_icon.png);
        z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
        @include ggg()
    }

    .moon {
        width: 70px;
        height: 70px;
        left: 50%;
        transition: 2s;
        top: 50%;
        transform: translateY(-50%) rotate(1080deg);
        background-image: url(../img/211779_moon_icon.png);
        @include ggg()
    }
}

.solndze {
    transition: 2s;
    background-color: #018FA3;
}

.pridi {
    bottom: 20%;
    transition: 2s;
}

.black_box {
    width: 100%;
    height: 100%;
    background-color: #24292d;
    opacity: 0%;
    position: absolute;
    z-index: -1;
    transition: 1s;
}

.op {
    opacity: 80%;
    z-index: 1000;
    transition: 1s;
}

.whote {
    width: 410px;
    height: 541px;
    position: fixed;
    background-color: #018FA3;
    top: -100%;
    left: 50%;
    border-radius: 30px;
    transition: 0.3s;
    overflow: hidden;
    transform: translateX(-50%);
    z-index: 10000000000000000000000000000000000000000000000000000000000000000000000000000;
    transition: 1s;

    .block_222 {
        width: 25%;
        height: 25%;
        background-color: #F6FAFF;
    }

    .a {
        position: absolute;
        top: 0%;
        left: 0%;
        animation: a 5s infinite;
    }

    .b {
        position: absolute;
        bottom: 0%;
        right: 0%;
        animation: b 5s infinite 100ms;
    }
}

.bdt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.zyav {
    width: 400px;
    height: 531px;
    border-radius: 30px;
    background-color: #F6FAFF;
    transition: 1s;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000000000;
    color: black;

    .text_h2 {
        width: 205px;
        margin: auto;
        margin-bottom: 32px;
        margin-top: 20px;
        text-align: center;
        font-weight: 500;
        font-size: 24px;

        span {
            color: #018FA3;
        }
    }

    .inputi {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .input1 {
            width: 336px;
            height: 60px;
            border: none;
            background-color: white;
            box-shadow: 0px 20px 45px -15px rgba(0, 0, 0, 0.05);
            border-radius: 15px;
            margin: 0 auto 12px;
            padding: 0 20px;
            font-size: 18px;
            outline: none;
        }

        .input2 {
            border: none;
            background-color: white;
            box-shadow: 0px 20px 45px -15px rgba(0, 0, 0, 0.05);
            border-radius: 15px;
            margin: 0 auto 12px;
            font-size: 18px;
            resize: none;
            padding: 20px;
            outline: none;
            width: 336px;
            height: 120px;
            display: block;
        }

        .btn {
            width: 244px;
            height: 64px;
            background-color: #018FA3;
            color: white;
            box-shadow: 0px 0px 20px 3px #cbc8ff;
            border: none;
            border-radius: 30px;
            font-weight: 500;
            font-size: 20px;
            margin-top: 32px;
            transition: 0.5s;

            &:hover {
                background-color: #FAE01A;
                color: black;
            }
        }
    }
}

.bdt1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.note_active {
    display: none;
}

.gotovo {
    width: 400px;
    height: 531px;
    border-radius: 30px;
    background-color: #F6FAFF;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000000000000;
    display: block;
    transition: 1s;

    .gt {
        width: 100%;
        display: flex;
        justify-content: center;

        .image_gotovo {
            width: 120px;
            height: 120px;
            margin: 80px auto 16px;
        }
    }

    .tip {
        margin: 0 auto;
        width: 336px;
    }

    p {
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 36px;
        color: black;

        span {
            font-weight: 500;
            color: #018FA3;
        }
    }
}

.bdt2 {
    transition: 1s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.black2 {
    width: 100%;
    height: 100%;
    background-color: #24292d;
    opacity: 0%;
    position: absolute;
    z-index: -1;
    transition: 1s;
}

.op2 {
    opacity: 80%;
    z-index: 1000000;
    transition: 1s;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ss1 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ss2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ss3 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ss4 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ss5 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.text_three {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    margin-bottom: 60px;
}

.green1 {
    background-color: #018FA3;
}

.fiol {
    background-color: #955EEA;
}

.green2 {
    background-color: #4ECA30;
}

.yellow {
    background-color: #FFE41B;
}

.pink {
    background-color: #FF4D94;
}

.orange {
    background-color: #FFA724;
}

.right {
    margin-right: 40px;
}

.container {
    width: 1440px;
    margin: 0 auto;

    .big_box {
        height: 1188px - 331px;
        position: relative;
        padding-left: 120px;

        .w {
            width: 119px;
            height: 120px;
            position: absolute;
            z-index: -3;
            left: 31%;
            top: 10%;
            transform: rotate(18.58deg);
            animation: wepro 20s infinite;
        }

        .book {
            width: 290px;
            height: 442px;
            position: absolute;
            left: 15%;
            top: 21%;
            z-index: -3;
            animation: wepro4 15s infinite;
        }

        .four {
            width: 147px;
            height: 206px;
            position: absolute;
            left: 54%;
            top: 72%;
            z-index: -3;
            animation: wepro5 20s infinite;
        }

        .pen {
            width: 120px;
            height: 96px;
            position: absolute;
            left: 39%;
            top: 73%;
            z-index: -3;
            animation: wepro3 20s infinite;
        }

        .A {
            position: absolute;
            z-index: -3;
            width: 106px;
            height: 106px;
            left: 12%;
            top: 79%;
            animation: wepro2 20s infinite;
        }

        .uch {
            width: 458px + 148px;
            height: 882px - 55px;
            position: absolute;
            z-index: -3;
            right: 0;
            top: 0;
        }

        .books {
            width: 375px;
            height: 387px;
            position: absolute;
            right: 15%;
            top: 30%;
            z-index: -4;
            animation: wepro6 8s infinite;
        }

        header {
            width: 100%;
            height: 108px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 120px 0 0;

            .burger_menu {
                width: 60px;
                height: 38px;
                position: relative;
                z-index: 100000;
                display: none;

                .menu1 {
                    width: 100%;
                    height: 23%;
                    border-radius: 40px;
                    position: absolute;
                    background-color: #018FA3;
                    top: 0;
                    transition: 0.5s;
                }

                .menu_1 {
                    top: 50%;
                    transform: translateY(-50%) rotate(405deg);
                    transition: 0.5s;
                    background-color: white;
                }

                .menu2 {
                    width: 100%;
                    height: 23%;
                    border-radius: 40px;
                    position: absolute;
                    background-color: black;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: 0.5s;
                }
                .men2{
                    background-color: #018FA3;
                    transition: 0.5s;
                }
                .menu_2 {
                    transition: 0.5s;
                    opacity: 0%;
                    background-color: white;
                }

                .menu3 {
                    width: 100%;
                    height: 23%;
                    border-radius: 40px;
                    position: absolute;
                    background-color: black;
                    bottom: 0;
                    transition: 0.5s;
                }
                .men3{
                    background-color: #018FA3;
                    transition: 0.5s;
                }
                .menu_3 {
                    bottom: 30%;
                    transform: translateY(-30%) rotate(-405deg);
                    transition: 0.5s;
                    background-color: white;
                }
            }

            .z {
                z-index: 0;
            }

            .nu {
                position: fixed;
                right: 2%;
            }

            .box {
                display: flex;
                align-items: center;

                .page {
                    height: 102px;
                    width: 88px;
                    display: block;
                    margin-right: 101px;
                    animation: na 1.5s infinite;
                }

                .text_box {
                    display: flex;

                    a {
                        font-weight: 500;
                        color: black;
                        transition: 0.3s;

                        &:hover {
                            color: #018FA3;
                        }
                    }

                    .clr {
                        transition: 1s;
                        color: white;
                    }
                }
            }

            .tel_box {
                display: flex;
                align-items: center;

                .image {
                    width: 40px;
                    height: 40px;
                    margin-right: 8px;
                }

                .tel {
                    font-size: 18px;
                    font-weight: 600;
                    color: black;
                }

                .white_34 {
                    transition: 1s;
                    color: white;
                }
            }
        }

        .header_adaptiv {
            width: 100%;
            height: 800px;
            padding-top: 40px;
            display: none;
            background-color: #018FA3;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: fixed;
            top: -200%;
            display: none;
            z-index: 1000;
            transition: 0.5s;

            a {
                font-weight: 600;
                font-size: 24px;
                color: white;
                transition: 0.5s;

                &:hover {
                    color: #043a44;
                }
            }

            .image1 {
                width: 200px;
                height: 200px;
            }

            .ss1 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .ss2 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .ss3 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .ss4 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .ss5 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
        }

        .top1 {
            transition: 0.5s;
            top: 0;
        }


        .block {
            height: 510px + 206px;
            width: 100%;
        }

        .blockk {
            width: 664px;
            padding-top: 156px;

            h1 {
                font-size: 48px;
                font-weight: 600;

                .green {
                    color: #018FA3;
                }

                p {
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 44px;
                }
            }

            .bot {
                margin-bottom: 44px;
                position: relative;
            }

            .gg {
                position: absolute;
                color: red;
                top: 239px;
                left: 87px;
                opacity: 6%;
            }

            .zayav {
                width: 244px;
                height: 64px;
                background-color: #FAE01A;
                border: none;
                margin-top: 44px;
                box-shadow: 0px 20px 40px -27px #fde213;
                border-radius: 30px;
                font-weight: 500;
                font-size: 20px;
                cursor: pointer;
                transition: 0.5s;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .zayav:hover {
                background-color: #018FA3;
                color: white;
                box-shadow: 0px 0px 15px 5px #cbc8ff;
            }
        }
    }

    .mini_box {
        height: 591px;
        display: flex;
        align-items: center;
        padding: 0 270px 0 120px;

        .yel {
            position: relative;
            width: 440px;
            height: 204px;
            background: #FFF7BE;
            border-radius: 30px;
            margin-right: 122px;

            .vector {
                position: absolute;
                width: 201px;
                height: 200px;
                left: -107px;
                top: -52px;
                z-index: -1;
            }

            .text_yel {
                position: absolute;
                width: 459px;
                height: 203px;
                font-weight: 400;
                font-size: 24px;
                color: black;
                top: 24px;
                left: -48px;
                transition: 2s;
            }

            .greenn {
                transition: 2s;
                color: #018FA3;
            }
        }
    }

    .image_box {
        width: 488px;
        height: 343px;
        position: relative;
        background-image: url(../img/f_31761deb0cf6b54c\ 1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;

        .boruder {
            position: absolute;
            width: 488px;
            height: 343px;
            border-radius: 30px;
            right: -32px;
            bottom: -32px;
            z-index: -1;
        }
    }

    .dop_box {
        width: 100%;
        height: 343px + 32px;
        padding-left: 120px;
        display: flex;
        margin-bottom: 107px;

        .image_box1 {
            width: 488px;
            height: 343px;
            border-radius: 30px;
            background-image: url(../img/kids-1093758_960_720\ 1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin-right: 170px;
        }

        .boruder1 {
            position: absolute;
            width: 488px;
            height: 343px;
            left: -32px;
            bottom: -32px;
            z-index: -1;
        }
    }

    .yell {
        width: 440px;
        height: 172px;
        background: #FFF7BE;
        border-radius: 30px;
        position: relative;

        .vector1 {
            position: absolute;
            width: 201px;
            height: 200px;
            right: -67px;
            bottom: -71px;
            z-index: -2;
        }

        .text_yell {
            width: 458px;
            height: 174px;
            position: absolute;
            font-weight: 400;
            font-size: 24px;
            left: -48px;
            top: 24px;
            font-weight: 400;
            font-size: 24px;
            transition: 2s;
        }

        .greenn1 {
            transition: 2s;
            color: #018FA3;
        }
    }

    .block_box {
        width: 100%;
        height: 719px;
        margin: 160px auto;
        position: relative;

        .cent {
            position: absolute;
            top: 53%;
            left: 50%;
            transform: translate(-53%, -50%);
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            .center_img {
                width: 323px;
                height: 321px;
                margin: 0 0 16px 19px;
            }

            p {
                font-weight: 400;
                font-size: 24px;
                text-align: center;
            }
        }

        .boxic {
            width: 140px;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            .one {
                background-image: url(../img/кепкеке.png);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                @include ggg()
            }

            .two {
                background-image: url(../img/вавыф.png);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                @include ggg()
            }

            .there {
                background-image: url(../img/ed.png);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                @include ggg()
            }

            .four {
                background-image: url(../img/вавввввввввввввв.png);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                @include ggg()
            }

            .five {
                background-image: url(../img/оооооооо.png);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                @include ggg()
            }

            .six {
                background-image: url(../img/ррррррррррр.png);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                @include ggg()
            }

            .seven {
                background-image: url(../img/шшшшш.png);
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                @include ggg()
            }

            .img_boxic {
                width: 120px;
                height: 120px;
                margin: 0 auto 4px;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            p {
                text-align: center;
                font-weight: 400;
                font-size: 24px;
            }
        }

        .c1 {
            position: absolute;
            top: -8%;
            left: 50%;
            transform: translateX(-50%);
            animation: c1 8s infinite;
        }

        .c2 {
            position: absolute;
            left: 20%;
            top: 10%;
            animation: c2 8s infinite;
        }

        .c3 {
            position: absolute;
            top: 60%;
            transform: translateY(-60%);
            left: 15%;
            animation: c3 8s infinite;
        }

        .c4 {
            position: absolute;
            left: 30%;
            top: 82%;
            animation: c4 8s infinite;
        }

        .c5 {
            position: absolute;
            position: absolute;
            top: 60%;
            transform: translateY(-60%);
            left: 75%;
            animation: c5 8s infinite;
        }

        .c6 {
            position: absolute;
            left: 70%;
            top: 8%;
            animation: c6 8s infinite;
        }

        .c7 {
            position: absolute;
            left: 60%;
            top: 82%;
            animation: c7 8s infinite;
        }
    }

    .katalog {
        width: 100%;
        height: 1053px;
        background-color: #F6FAFF;
        padding-top: 68px;
        position: relative;
        transition: 0.5s;
        margin-bottom: 68px;
        transition: 0.5s;

        .b1 {
            position: absolute;
            width: 201px;
            height: 200px;
            left: 72px;
            top: 194px;
            animation: rotate 1s infinite;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .b2 {
            position: absolute;
            width: 268px;
            height: 267px;
            right: 179px;
            top: 136px;
            animation: rotate 1s infinite;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        h1 {
            font-weight: 600;
            font-size: 48px;
            text-align: center;
        }

        .victor1 {
            position: absolute;
            width: 24px;
            height: 60px;
            left: 3%;
            bottom: 439px;
            z-index: 999;
            background-image: url(../img/Vector\ 1.png);
            @include ggg()
        }

        .victor2 {
            position: absolute;
            width: 24px;
            height: 60px;
            right: 5%;
            bottom: 439px;
            transform: rotate(180deg);
            background-image: url(../img/Vector\ 1.png);
            z-index: 999;
            @include ggg()
        }

        .filter_invert {
            transition: 1s;
            filter: invert(100%);
        }

        .slider {
            height: 1048px;
            width: 387px + 20px + 387px + 20px + 387px;
            overflow: hidden;
            margin: 68px auto 0;
            transition: 0.5s;

            .slider_line {
                display: flex;
                position: relative;
                transition: all ease 1s;

                .hh {
                    width: 100%;
                    display: flex;

                    .item {
                        width: 387px;
                        height: 778px;
                        border-radius: 30px;
                        overflow: hidden;
                        text-align: center;
                        background-color: white;
                        margin-right: 20px;
                        padding-bottom: 60px;
                        position: relative;
                        transform: 0.5s;

                        .white_box {
                            width: 100%;
                            height: 140px;
                            position: absolute;
                            bottom: 0;
                            background-color: white;
                        }

                        .black6 {
                            transition: 1s;
                            background-color: #313639;
                        }

                        span {
                            color: #018FA3;
                            font-weight: 400;
                            font-size: 24px;
                            margin-top: 19px;
                            cursor: pointer;
                        }

                        .topp {
                            width: 100%;
                            height: 80px;
                            margin-bottom: 60px;
                            color: white;
                            font-weight: 700;
                            font-size: 24px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-transform: uppercase;
                            transition: 0.3s;

                            &:hover {
                                box-shadow: 1px 5px 15px 0px #cbc8ff;
                            }
                        }

                        .text_top {
                            font-weight: 600;
                            font-size: 48px;
                            margin-top: 60px;
                            margin-bottom: 24px;
                        }

                        .niz {
                            font-weight: 400;
                            font-size: 24px;
                            margin-bottom: 8px;
                        }

                        .niz2 {
                            font-weight: 400;
                            font-size: 24px;
                            margin-bottom: 39px;
                        }

                        .f {
                            color: transparent;
                        }

                        .text_two {
                            font-weight: 400;
                            font-size: 24px;
                            margin-bottom: 60px;
                        }

                        .text_3 {
                            font-weight: 400;
                            font-size: 24px;
                            margin-bottom: 73px;
                        }

                        .two_four {
                            font-weight: 400;
                            font-size: 24px;
                            margin-bottom: 24px;
                        }

                        .two_four2 {
                            font-weight: 400;
                            font-size: 24px;
                            margin-bottom: 17px;
                        }

                        .two_four3 {
                            font-weight: 400;
                            font-size: 24px;
                            margin-bottom: 125px;
                        }

                        .two_four_p {
                            font-weight: 400;
                            font-size: 24px;
                        }

                        .but {
                            width: 219px;
                            height: 68px;
                            border: none;
                            border-radius: 40px;
                            font-weight: 500;
                            font-size: 24px;
                            color: white;
                            display: block;
                            margin: 0;
                            position: absolute;
                            bottom: 60px;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 100;
                            transition: 0.5s;

                            &:hover {
                                box-shadow: 1px 5px 15px 0px #cbc8ff;
                            }
                        }
                    }

                    .black1 {
                        transition: 1s;
                        background-color: #313639;
                    }

                    .color {
                        transition: 2s;
                        background-color: white;
                    }

                    .sm1 {
                        height: 1048px;
                        transition: 0.5s;
                    }
                }
            }
        }

        .sm3 {
            height: 1048px;
            transition: 0.5s;
        }
    }

    .black {
        transition: 1s;
        background-color: #24292d;
    }

    .sm {
        height: 1337px;
        transition: 0.5s;
    }

    .sertificat {
        height: 539px;
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 60px;

        .vector1 {
            position: absolute;
            width: 329px;
            height: 409px;
            left: -0;
            top: 81px;
            z-index: -4;
        }

        .vector2 {
            position: absolute;
            width: 356px;
            height: 440px;
            left: 0;
            top: 68px;
            z-index: -6;
        }

        .eplips {
            position: absolute;
            width: 56px;
            height: 56px;
            left: 39px;
            bottom: 12%;
        }

        .mini_block {
            height: 211px;
            width: 90%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 296px 296px 296px 296px;
            grid-gap: 14px;
            grid-template-rows: 211px;
            .block232{
                width: 100%;
                height: 100%;
            }
            .item21 {
                background-image: url(../img/1\ серт.png);
                position: relative;
                transition: 0.2s;
                @include ggg()
            }

            .item22 {
                background-image: url(../img/2\ серт.png);
                position: relative;
                transition: 0.2s;
                @include ggg()
            }

            .item23 {
                background-image: url(../img/3\ серт.png);
                position: relative;
                transition: 0.2s;
                @include ggg()
            }

            .item24 {
                background-image: url(../img/4\ серт.png);
                position: relative;
                transition: 0.2s;
                @include ggg()
            }
            .big_img{
                transition: 0.2s;
                position: fixed;
                left: 50%;
                top: 50%;
                width: 796px;
                height: 711px;
                transform: translate(-50%,-50%);
                z-index: 999999999999999999999999999999999999999999999999999999999999;
            }
        }
    }

    .otzivi {
        width: 100%;
        height: 424px + 59px;
        margin-top: 45px;
        position: relative;
        margin-bottom: 80px;

        .arrow_otziv_left {
            width: 24px;
            height: 60px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5%;
        }

        .arrow_otziv_right {
            width: 24px;
            height: 60px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5%;
        }

        .filter_invert1 {
            transition: 1s;
            filter: invert(100%);
        }

        .slider2 {
            width: 387px + 426px + 387px;
            height: 284px;
            margin: 0 auto;
            position: relative;
            overflow: hidden;

            .slider_line2 {
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                left: 0;
                transition: all ease 1s;

                .hh2 {
                    display: flex;
                    width: 100%;
                }

                .bitem {
                    width: 387px;
                    height: 284px;
                    margin-right: 20px;
                    border: 4px solid #018FA3;
                    border-radius: 8%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .mini_item {
                        width: 90%;
                        height: 80%;

                        .text_bitem {
                            font-weight: 400;
                            font-size: 20px;
                        }

                        .profil {
                            height: 36%;
                            display: flex;
                            align-items: center;
                            margin-bottom: 12px;

                            .art {
                                height: 100%;
                                width: 80px;
                                border-radius: 100%;
                                background-color: #018FA3;
                                margin-right: 10%;
                            }

                            h4 {
                                font-weight: 600;
                                font-size: 24px;
                            }

                            .ar1 {
                                background-image: url(../img/1\ пользователь.png);
                                @include ggg()
                            }

                            .ar2 {
                                background-image: url(../img/2\ пользователь.png);
                                @include ggg()
                            }

                            .ar3 {
                                background-image: url(../img/3\ или\ 1\ пельзователь.png);
                                @include ggg()
                            }

                            .ar4 {
                                background-image: url(../img/4\ пользователь.png);
                                @include ggg()
                            }

                            .ar5 {
                                background-image: url(../img/5\ пользователь.png);
                                @include ggg()
                            }

                            .ar6 {
                                background-image: url(../img/6\ пользователь.png);
                                @include ggg()
                            }
                        }
                    }
                }
            }
        }
    }

    .kontact {
        width: 100%;
        height: 653px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 58px 0 120px;
        margin-bottom: 57px;
        position: relative;

        .kon_img {
            position: absolute;
            width: 201px;
            height: 200px;
            left: 154px;
            top: 50px;
            z-index: -1;
        }

        .b_lock {
            width: 590px;
            height: 540px;
            border-radius: 30px;
            background-color: #018FA3;
            padding-top: 12px;
            color: #FFFFFF;

            h3 {
                text-align: center;
                font-weight: 500;
                font-size: 48px;
                color: #FFFFFF;
            }

            .bi_box {
                width: 100%;
                padding-left: 42px;
                font-weight: 400;
                font-size: 24px;
                color: #FFFFFF;

                span {
                    font-weight: 600;
                    font-size: 24px;
                    color: #FFFFFF;
                }

                a {
                    font-weight: 400;
                    font-size: 24px;
                    color: #FFFFFF;
                    display: block;
                    margin-top: 8px;
                    margin-bottom: 20px;
                }

                p {
                    font-weight: 400;
                    font-size: 24px;
                    color: #FFFFFF;
                    display: block;
                    margin-top: 8px;
                    margin-bottom: 20px;
                }
            }
        }

        .ibox {
            width: 550px;
            height: 653px;
            background-image: url(../img/пацан.png);
            margin-bottom: 40px;
            @include ggg()
        }
    }

    .karta {
        width: 100%;
        height: 539px;
        margin-bottom: 87px;
        position: relative;

        .karta_img1 {
            position: absolute;
            width: 201px;
            height: 200px;
            left: 16%;
            top: 11%;
            z-index: -1;
            animation: rotate 5s infinite;
        }

        .karta_img2 {
            position: absolute;
            width: 201px;
            height: 200px;
            right: 16%;
            bottom: 10%;
            z-index: -1;
            animation: rotate 5s infinite;
        }

        .karta_and_border {
            width: 754px;
            height: 499px;
            border: 20px solid #000000;
            border-radius: 20px;
            margin: 0 auto;

            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}

footer {
    height: 200px;
    background-color: #0A2530;

    .container_footer {
        height: 100%;
        width: 1440px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 120px;
        justify-content: space-between;

        .img1 {
            width: 102px;
            height: 88px;
        }

        .ssilki {
            a {
                font-weight: 500;
                font-size: 24px;
                color: white;
                transition: 0.5s;

                &:hover {
                    color: #018FA3;
                }
            }

            .ss1 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .ss2 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .ss3 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .ss4 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .ss5 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
        }

        .img2 {
            width: 187px;
            height: 51px;
        }
    }
}